@charset "utf-8";

body {
	background-image:url(../images/fondo.jpg);
	background-color:#9b9b9b;
	background-repeat:repeat-x;
}

p {
	color:#fff;
        font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
}

h1{
        font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000;
	text-align:center;
	padding-bottom:10px;
}

#wrapper {
	
	height: 1028px;
	width: 1000px;
	margin:0px auto;
	text-align:center;
}
#header{
	
	height: 150px;
	width: 1000px;
	background-image:url(../images/header.png);
	
}
/*MENU PRINCIPAL*/
#header ul {
	list-style:none;
	padding-left:650px;
	padding-top:95px;
}
#header ul li{
	float:left;
	text-align:left;
	padding-left:15px;
	
}
#header ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
	
	text-decoration:none;

}
#header ul li a:hover {
	color:#FF0;


}
#cajamenusecundario{
	
	height: 540px;
	width: 318px;
	float:left;
	background-image:url(../images/fondoiniciosesion.jpg);
	background-repeat:no-repeat;
	padding-top:75px;
        

}
/*MENU SECUNDARIO*/
#menusecundario{
	background-image:url(../images/fondomenusec.jpg);
	background-repeat:repeat-x;
	height:695px;
	background-color:#515151

	
}
#menusecundario ul {
	list-style:none;
	padding-left:30px;

}
#menusecundario ul li{

	text-align:left;
	padding-left:70px;
	
}
#menusecundario ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	line-height: 2.1;
		border-left:#999 solid 10px;
	padding-left:10px;

}
#menusecundario a:hover {
	color:#FC0;
	border-left:#FC0 solid 10px;
	padding-left:10px;

}

#slider{
	
	height: 325px;
	width: 682px;
	float:left;
	
}
#slider2{
	
	height: 200px;
	width: 682px;
	float:left;
	
}
#iniciosesion{
	
	height: 250px;
	width: 318px;
	float:left;
	background-image:url(../images/fondoiniciosesion.jpg);
	background-repeat:no-repeat;
	padding-top:75px;
        color: #fff;
        
}

#contenido{
	
	height: 770px;
	width: 1000px;
	background-color:#666666;

}
#footer{
	
	height: 38px;
	width: 1000px;
	background-color:#000;
	border-radius: 0px 0px 30px 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:14px;
	color:#fff;
	padding-top:20px;
}
#columna{
	
	height: 370px;
	width: 274px;
	margin: 30px 15px;
	float:left;
	background-color:#929292;
	border-radius:30px 0px 0px 0px;

}

.textotitulos {
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	color:#FC0;
	text-align:center;
	width:300px;
	padding-bottom:10px;
	}
	.usuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffae00;
	text-align:left;
	width:100px;
	float:left;
	padding-top:10px;
	padding-right:15px;
	text-align:right;
	}
		.cajas {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333;
	text-align:left;
	width:200px;
	float:left;
	padding-top:10px;
	


	
	}
		.texpequeno {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffae00;
	text-align:left;
		width:280px;
	float:left;
	padding-top:10px;
	text-align:right;
	}
	
	.botones {
		width:100px;
		height:50px;
		float:right;
		margin:20px 10px 0px 0px;
		
		
}
#noticias {
	padding-left:30px;
	float:left;
}

#encabezado {
	padding:15px 15px 20px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#3c3c3c;
	text-align:center;
	font-size:20px;
	background-color:#b2b2b2;
	border-radius:30px 0px 0px 0px;
}
#foto {
	height:123px;
	width:274px;
	
	}
	
#textofoto{

	margin: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:justify;

	
	}
	
#cajaizquierda{
	height:400px;
	width: 318px;
	background-color:#
	;
	float:left;
}

#cajaderecha{

	width: 682px;
	background-color:#515151;
	float:left;
	height:570px;
        text-align:center;
        height: auto;
        overflow:auto


}
#cajaparaformularios {
	background-color:#BBBBBB;
	height:540px;
	margin: 20px 20px 10px 20px;
	border-radius:30px 0px 0px 0px;
        text-align:left;
        font-family: Verdana,Arial,sans-serif;
        font-size: smaller;
        overflow: auto;
}

#column2 {
	margin: 15px 15px 15px 15px;
}
